{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}


<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Add User</h6>
                            
                        
                    <table class="table table-hover">
                            <tr>
                             <th>User_id</th>
                             <td>1</td>
                         </tr>
                         <tr>
                             <th>Fname</th>
                             <td>John</td>
                         </tr>
                         <tr>
                             <th>Lname</th>
                             <td>Deo</td>
                         </tr>
                         <tr>
                             <th>Gender</th>
                             <td>Male</td>
                         </tr>
                         <tr>
                             <th>Email</th>
                             <td>john@gmail.com</td>
                         </tr>
                         <tr>
                             <th>Contact</th>
                             <td>9876543299</td>
                         </tr>
                         <tr>
                             <th>Address</th>
                             <td>danilimda,Ahmedabad</td>
                         </tr>
                        <tr>
                             <th>City_id</th>
                             <td>101</td>
                         </tr>
                         
                                                 
                        </table>       
                            </div>
                        </div>
                
                </div>
            </div>
        <br><br><br><br><br><br><br><br><br><br><br>
            
        
{% endblock %}