  <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">Category Name</th>
                                            <th scope="col">Category Id</th>
                                            <th scope="col">Delete</th>
                                            
                                        </tr>
                                    </thead>
                                      {% for row in result %}
                                    <tr>
                                        <td>{{row.id}}</td>
                                        <td>{{row.subcategory_name}}</td>
                                        <td>{{row.category_id}}</td>
                                        <td><a href="/myadmin/subcategory_delete/{{row.id}}">Delete</a></td>
                                        <!-- <td><a href="/myadmin/subcategory_edit/{{row.id}}">Edit</a></td> -->
                                    </tr>
                                    {% endfor %}

</table>