{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'user/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{static 'user/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'user/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'user/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'user/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'user/images/jp.png' %}" rel="icon">
  <link href="{% static 'user/images/jp.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'user/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'user/assets/css/main.css'%}" rel="stylesheet">
   <style>
     td 
     {
      color: #fff;
     }
     th 
     {
      color: #fff;
     }
  </style>


  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/

   </head>
   <body>
      banner bg main start -->

      {% include 'user/common/header.html'%}
      
      {% block content %}
      {% endblock %}
      
     {% include 'user/common/footer.html'%}


         <!-- header top section start -->
         <!-- logo section start -->
         
         <!-- header section end -->
         <!-- banner section start -->
         
      <!-- banner bg main end -->
      <!-- fashion section start -->
     
      <!-- jewellery  section end -->
      <!-- footer section start -->
      
      <!-- footer section end -->
      <!-- Javascript files-->
      <script src="{% static 'user/js/jquery.min.js' %}"></script>
      <script src="{% static 'user/js/popper.min.js' %}"></script>
      <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'user/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'user/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'user/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'user/js/custom.js' %}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>


      <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'user/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'user/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'user/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'user/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'user/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'user/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'user/assets/js/main.js'%}"></script>
 


   </body>
</html>