
{% load static %}
<style type="text/css">
  a{
    color: #252525;

  }
</style>

  
<style>

.img2
{
  background-image: url("{% static 'user/images/web.jpg' %}");
}


</style>


<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome To </br><span>JP Advertisings</span></h2>
            <p data-aos="fade-left"style="color: white;">The Place for Buying and Selling the Second Hand Products 
             </p> .<br>
            </p>
            <div><h4 data-aos="fade-right"style="color:white;">Sell or Advertise Anything Online With JP Advertisings</h4></div>  
             <div><p data-aos="fade-down">Sell or Buy Anything that you Want</p></div>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active img2">
      </div>
      
      
      

    </div>

  </section>


<main id="main">

    <!-- ======= Get Started Section ======= -->
    
    <!-- ======= Constructions Section ======= -->
    
    <!-- ======= Services Section ======= -->
    
    <!-- ======= Alt Services Section ======= -->
    
    <!-- ======= Features Section ======= -->
    
    <!-- ======= Our Projects Section ======= -->
   

    <!-- ======= Testimonials Section ======= -->
    

    <!-- ======= Recent Blog Posts Section ======= -->
    
    
  