{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}


<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">City</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">City_id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">State_id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <th scope="row">200</th>
                                            <td>Gujarat</td>
                                            <td>251</td>
                                        </tr>
                                        <tr>
                                        <th scope="row">201</th>
                                            <td>Gujarat</td>
                                            <td>252</td>
                                        </tr>
                                        <th scope="row">202</th>
                                            <td>Gujarat</td>
                                            <td>253</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
        
        
                    {% endblock %}