{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}

<title>JpAdvertisings | FeedBack </title>
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Feedback</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            
                                            <th scope="col">Feedback_id</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">User_id</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>12/2/2002</td>
                                            <td>good design</td>
                                            
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>12/4/2006</td>
                                            <td>good work</td>
                                            
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>12/9/2009</td>
                                            <td>good design</td>
                                            
                                            <td>3</td>
                                        </tr>
                                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        
        <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
        
        
                    {% endblock %}