{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}

<title>JpAdvertisings | Sub-Categories </title>
<div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>Add SubCatagories</h3>
                            
                            
                        </div>
                        <br>
                    
                        <form action="/myadmin/subcategory_update/{{result.id}}" method="post">
                            {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" id="subcategory
                            " name="subcategory" value="{{result.subcategory_name}}">
                            <label for="floatingInput">Enter Sub-Catagory</label>
                        </div>
                        <div class="form-group mb-4">
                            <select id="category" name="category" class="form-control">
                                <option value="">---Select Category---</option>
                                {% for cat in result1 %}
                                <option value="{{cat.id}}" {% if result.category_id == cat.id %} selected {% endif %}>{{cat.cat_name}}</option>
                                {% endfor %}
                            </select>

                        </div>
            
                      <center>
                        <button type="submit" name="submit" class="btn btn-primary py-6 w-40 mb-4">Submit</button>
                    </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
       
        
        
                    {% endblock %}