{% extends 'user/common/layout2.html'%}
{% block content %}
{% load static %}

<title>JpAdvertisings | Upload_Product </title>
  
<style >
  .img1
  {
    background-image: url("{% static 'user/images/profile2.jpg'  %}");
  }

   body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

</style>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center img1">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Upload Profile</h2>
        <ol>
          <li><a href="/user/home">Home</a></li>
          <li>Upload Profile</a></li>
        </ol>

      </div>
    </div>


    <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link  ms-0" href="/user/profile/{{user.id}}">Profile</a>
        <a class="nav-link " href="/user/userprofile/{{user.id}}">Manage Profile</a>
        <a class="nav-link active" href="/user/upload_product/<int:id>">Upload Product</a>
        <a class="nav-link " href="/user/myproduct">My Product</a>
        <a class="nav-link " href="/user/cart">My Cart</a>
    </nav>
    <hr class="mt-0 mb-4">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" >
<!--<img src="/media/profile/{{result1.profile_image}}">-->
                <!-- <span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span> </span> -->
                </div>
        </div>
        <div class="col-md-5 border-right"  style="margin-left: 150px;">
            <form action="/user/upload_product_store/{{user.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Upload Your Product</h3>
                </div>
                <div class="row mt-2">

                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="Enter Product Name" name="productname"></div>
                    <div class="col-md-6"><label class="labels">Title</label><input type="text" class="form-control" value="" placeholder="Enter Title" name="title"></div>
                    <div class="col-md-12"><label class="labels">Category</label>
                        <select class="form-control" id="category" name="category" style="height: 60px;">
                            <option>--Select Category--</option>
                            {% for row in result %}
                            <option value="{{row.id}}">{{row.cat_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-12"><label class="labels">Sub-Category</label>
                        <select class="form-control" id="subcategory" name="subcategory" style="height: 60px;">
                            <option>--Select subCategory--</option>
                            {% for row in result1 %}
                            <option value="{{row.id}}">{{row.subcategory_name}}</option>
                            {% endfor %}
                        </select>

                   
                </div>
                <div class="row mt-4">
                    <div class="col-md-12"><label class="labels">Price</label><input type="text" class="form-control"  name="price" id="price"></div>

                    <div class="col-md-12"><label class="labels">Description</label><textarea class="form-control" name="description" placeholder="maximum length 200 word"></textarea></div>
                     <div class="col-md-12"><label class="labels">Large Description</label><textarea class="form-control" name="largedes"></textarea></div>
                    
                    <div class="col-md-12"><label class="labels">Upload Image</label>
                        <input type="file" name="image" class="form-control">
                    
                </div>
                
                </div>
                <div class="mt-5 text-center"><input type="submit" class="btn btn-warning" value="submit" name="submit"></div>
            </div>
        </form></div>
        
    </div>
</div>
</div>
</div>
</main>

{% endblock %}